-umpy==1.18.5
absl-py==0.12.0
alabaster==0.7.12
alembic==1.5.5
anaconda-client==1.7.2
anaconda-navigator==1.9.12
appdirs==1.4.4
argh==0.26.2
argon2-cffi==20.1.0
astroid==2.4.2
astunparse==1.6.3
async-generator==1.10
asyncio==3.4.3
atari-py==0.2.9
atomicwrites==1.4.0
attrs==20.3.0
autopage==0.4.0
autopep8==1.5.5
ax-platform==0.2.2
azure-common==1.1.27
azure-graphrbac==0.61.1
azure-mgmt-authorization==0.61.0
azure-mgmt-containerregistry==2.8.0
azure-mgmt-keyvault==2.2.0
azure-mgmt-resource==12.1.0
azure-mgmt-storage==11.2.0
azureml-core==1.25.0
babel==2.9.0
backcall==0.2.0
backports.entry-points-selectable==1.1.0
backports.functools-lru-cache==1.6.1
backports.tempfile==1.0
backports.weakref==1.0.post1
banal==1.0.5
bcrypt==3.2.0
beautifulsoup4==4.9.3
black==19.10b0
bleach==3.3.0
blis==0.4.1
boto3==1.14.20
botocore==1.17.63
botorch==0.5.1
box2d==2.3.10
brotlipy==0.7.0
cachetools==4.2.1
catalogue==1.0.0
certifi==2021.10.8
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cliff==3.10.0
cloudpickle==1.3.0
clyent==1.2.2
cmaes==0.8.2
cmd2==2.3.3
colorama==0.4.3
colorlog==6.6.0
conda-build==3.18.11
conda-package-handling==1.7.2
conda-verify==3.4.2
conda==4.11.0
configparser==5.2.0
contextlib2==0.6.0.post1
cryptography==3.3.1
cycler==0.10.0
cymem==2.0.3
cython==0.29.23
dateparser==1.0.0
deap==1.3.1
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20200713
distlib==0.3.3
dm-env==1.5
dm-tree==0.1.6
docker-pycreds==0.4.0
docker==4.4.4
docutils==0.17.1
easyprocess==0.3
en-core-web-sm==2.3.1
entrypoints==0.3
evaluate==0.0.3
filelock==3.3.2
flake8==3.8.4
flatbuffers==1.12
future==0.18.2
gast==0.3.3
gensim==3.8.1
gitdb==4.0.9
gitpython==3.1.24
glob2==0.7
google-auth-oauthlib==0.4.4
google-auth==1.24.0
google-pasta==0.2.0
gpytorch==1.6.0
griddly==1.2.29
grpcio==1.32.0
gym==0.21.0
h5py==2.10.0
highway-env==1.4
hiredis==1.1.0
idna==2.10
imageio==2.14.1
imagesize==1.2.0
importlib-metadata==2.0.0
inspyred==1.0.1
intervaltree==3.1.0
ipykernel==5.3.4
ipython-genutils==0.2.0
ipython==7.20.0
ipywidgets==7.6.3
isort==5.5.1
iteration-utilities==0.10.1
jedi==0.17.2
jeepney==0.6.0
jinja2==2.11.3
jiwer==2.2.0
jmespath==0.10.0
joblib==0.14.1
json5==0.9.5
jsonpickle==2.0.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
jupyterlab-widgets==1.0.0
jupyterlab==2.2.6
keras-preprocessing==1.1.2
keras==2.4.3
keyring==22.0.1
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
libarchive-c==2.9
lightgbm==3.1.1
list-imports==2020.7.2
mako==1.1.4
markdown==3.3.4
markupsafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.3.0
mkl-random==1.2.1
mkl-service==2.3.0
msgpack==1.0.3
msrestazure==0.6.4
murmurhash==1.0.2
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbclient==0.5.2
nbconvert==6.1.0
nbformat==5.1.2
ndg-httpsclient==0.5.1
neat-python==0.92
nest-asyncio==1.5.1
nltk==3.4.5
notebook==6.2.0
numdifftools==0.9.39
numpy==1.22.1
numpydoc==1.1.0
oauthlib==3.1.0
olefile==0.46
opencv-python==4.5.4.60
opt-einsum==3.3.0
optuna==2.10.0
owlready2==0.24
packaging==20.9
pandas-compat==0.1.1
pandas==1.0.3
pandocfilters==1.4.3
paramiko==2.7.2
parso==0.7.0
pathspec==0.8.1
pathtools==0.1.2
patsy==0.5.1
pbr==5.8.0
pendulum==2.1.2
pettingzoo==1.15.0
pexpect==4.8.0
pickleshare==0.7.5
pillow==8.4.0
pip==21.0.1
pkginfo==1.7.0
plac==1.1.3
platformdirs==2.4.0
plotly==5.3.1
pluggy==0.13.1
preshed==3.0.2
prettytable==2.4.0
prometheus-client==0.9.0
promise==2.3
prompt-toolkit==3.0.8
protobuf==3.19.1
psutil==5.8.0
ptan==0.4
ptyprocess==0.7.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pyaudio==0.2.11
pybrain==0.3.3
pyclust==0.2.0
pycodestyle==2.6.0
pycorenlp==0.3.0
pycosat==0.6.3
pycparser==2.20
pydocstyle==5.1.1
pyflakes==2.2.0
pyflux==0.4.17
pygame==2.1.2
pyglet==1.5.0
pygments==2.7.4
pykalman==0.9.5
pylint==2.6.0
pyls-black==0.4.6
pyls-spyder==0.3.0
pynacl==1.4.0
pyopenssl==20.0.1
pyparsing==2.4.7
pyperclip==1.8.2
pyprover==0.5.4
pyreadline3==3.3
pyrsistent==0.17.3
pysocks==1.7.1
pytest-xvfb==2.0.0
python-dateutil==2.8.1
python-dotenv==0.14.0
python-editor==1.0.4
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-levenshtein==0.12.2
pytz==2021.1
pytzdata==2020.1
pyvirtualdisplay==2.0
pywin32-ctypes==0.2.0
pywin32==227
pywinpty==0.5.7
pyyaml==6.0
pyzmq==20.0.0
qdarkstyle==2.8.1
qtawesome==1.0.1
qtconsole==5.0.2
qtpy==1.9.0
ray==1.9.0
redis==3.5.3
regex==2020.11.13
requests-oauthlib==1.3.0
requests==2.25.1
rope==0.18.0
rsa==4.7
rtree==0.9.4
ruamel-yaml==0.15.87
ruamel.yaml==0.17.2
s3transfer==0.3.7
sacremoses==0.0.45
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.11.1
secretstorage==3.3.1
send2trash==1.5.0
sentry-sdk==1.5.0
setuptools==52.0.0.post20210125
shortuuid==1.0.1
simplejson==3.17.2
sip==4.19.13
six==1.15.0
sklearn==0.0
smart-open==4.2.0
smmap==5.0.0
snowballstemmer==2.1.0
sortedcontainers==2.3.0
soupsieve==2.1
spacy==2.3.2
speechrecognition==3.8.1
sphinx==3.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spyder-kernels==1.10.1
spyder==4.2.1
sqlalchemy==1.3.23
srsly==1.0.2
statsmodels==0.11.1
stevedore==3.5.0
subprocess32==3.5.4
tabulate==0.8.7
tenacity==8.0.1
tensorboard-plugin-wit==1.8.0
tensorboard==2.4.1
tensorboardx==2.4.1
tensorflow-estimator==2.4.0
tensorflow-gpu==2.4.1
tensorflow==2.4.1
termcolor==1.1.0
terminado==0.9.2
testpath==0.4.4
textdistance==4.2.1
thinc==7.4.1
threadpoolctl==2.1.0
three-merge==0.1.1
tokenizers==0.10.2
toml==0.10.1
torch-tb-profiler==0.3.1
torch==1.10.0
torchvision==0.11.1
tornado==6.1
tqdm==4.56.0
traitlets==5.0.5
transformers==4.5.1
transitions==0.8.4
treelib==1.6.1
typed-ast==1.4.2
typeguard==2.13.2
typing-extensions==3.7.4.3
tzlocal==2.1
ujson==4.0.2
unidecode==1.1.1
urllib3==1.26.7
virtualenv==20.10.0
wandb==0.12.7
wasabi==0.8.0
watchdog==1.0.2
wcwidth==0.2.5
webencodings==0.5.1
websockets==9.1
werkzeug==2.0.2
wget==3.2
wheel==0.36.2
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.12.1
xgboost==1.3.3
xmltodict==0.12.0
yapf==0.30.0
yaspin==2.1.0
zipp==3.4.0